.auth {
  width: 100%;
  height: 100%;
  text-align: center;
}

.authContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #eff3f7;
  padding: 20px;
  box-shadow: 15px 15px 30px #bfc2c6, -15px -15px 30px #ffffff;
  border-radius: 20px;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.authBtns button {
  margin: 0 -2%;
  box-shadow: 5px 5px 10px #bfc2c6, -5px -5px 10px #ffffff;
}

.loginlogo {
  width: 150px;
  height: 150px;
  margin-bottom: 50px;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: white;
  cursor: pointer;
}
