.containers {
  height: 100%;
  display: flexbox;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
.detail_block {
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  display: block;
  font-weight: bold;
  color: black !important;
}
.cinemas {
  margin: 0 auto;
  width: 50%;
  justify-content: center;
  color: black !important;
}

.brand_name,
.location_name {
  display: flex;
  justify-content: center;
}

.containers li {
  margin: 3px;
}

/* GENERAL BUTTON STYLING */
.checklist button {
  background: #1b1159;
  color: #fff;
  border: none;
  position: relative;
  height: 40px;
  font-size: 1em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  border-radius: 1px 1px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.checklist button:hover {
  background: #f2dcb3;
  color: black;
}
.checklist button:before,
.checklist button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1b1159;
  transition: 400ms ease all;
}
.checklist button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.checklist button:hover:before,
.checklist button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.btnbrdefault {
  padding: 0.65em 2.35em 0.65em 2.35em !important;
}
.btnlocdefault {
  padding: 0.65em 2.35em 0.65em 2.35em !important;
}

.btnlocactive {
  background: #f2dcb3 !important;
  padding: 0.65em 2.35em 0.65em 2.35em !important;
  color: black !important;
  border-radius: 1px 1px;
}

.btnbractive {
  background: #f2dcb3 !important;
  padding: 0.65em 2.35em 0.65em 2.35em !important;
  color: black !important;
  border-radius: 1px 1px;
}

.brand_name ul {
  flex-wrap: unset;
  /*   margin: 0 auto; */
  margin-top: 2%;
}

.left {
  font-size: 12px;
  color: black;
}
@media screen and (max-width: 1200px) {
  /* GENERAL BUTTON STYLING */
  .checklist button {
    background: #1b1159;
    color: #fff;
    border: none;
    position: relative;
    height: 30px;
    font-size: 1em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 1px 1px;
  }

  .containers li {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 600px) {
  .containers li {
    margin: 0 1px;
  }
  .cinemas {
    width: 85%;
  }
  .checklist button {
    background: #1b1159;
    color: #fff;
    border: none;
    position: relative;
    height: 20px;
    font-size: 0.5em;
    padding: 0 1em;
    cursor: pointer;
    transition: 300ms ease all;
    outline: none;
    border-radius: 1px 1px;
  }
  .checklist button:hover {
    background: #eff3f7;
    color: black;
  }
  .checklist button:before,
  .checklist button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1b1159;
    transition: 300ms ease all;
  }
  .checklist button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  .checklist button:hover:before,
  .checklist button:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }
}
