* {
  box-sizing: border-box;
}

.cinema {
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  width: 100%;
}

.cinemaCard {
  position: relative;
  /* margin: 20px 10px; */
  max-width: 100%;
  margin-top: 3px;
}
/* .cinema-poster {
  position: relative;
  width: 250px;
  height: 350px;
} */
/* .cinemaimg {
  width: 250px;
  height: 350px;
  border-radius: 10px;
} */
/*   */

.cinema-inf {
  box-shadow: 3px 3px grey;
  display: flex;
  flex-direction: column;
  /*  position: absolute; */
  bottom: 0;
  padding: 8px;
  width: 100%;
  align-self: end;
  background-color: white;
  /* border-radius: 8px 8px; */
  /*margin: 8px;*/
  visibility: visible;
  transition: visibility 500ms;
  outline-style: groove;
  outline-width: 1px;
}

.middle_line {
  border: thin solid;
}
.cinema-inf-top {
  text-align: left;
  font-weight: bold;
  color: #000000c5 !important;
}

.cinema-inf-btm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.cinema-inf-overview {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-direction: column;
}

.cinema-inf-vote-avg {
  display: flex;
  /*   flex-direction: column; */
  justify-content: center;
  border-radius: 8px;
  background-color: red;
  /*padding-left:8px;*/
  /*padding-right: 8px;*/
  padding: 4px;
  color: white;
  margin-top: 3px;
  /*height: 22px;*/
  align-self: center;
  text-align: center;
}

.mapmarker {
  margin: auto auto;
  font-size: 15px;
  margin-right: 3px;
  color: orange;
}

.phonenum {
  align-items: center;
}

.cinema-inf-vote-avg .star {
  margin: auto auto;
  margin-right: 3px;
  color: yellow;
}

.cinemaloading {
  display: fixed;
}
@media only screen and (max-width: 600px) {
  .cinema-poster {
    position: relative;
    width: 125px;
    height: 175px;
  }
  .cinemaimg {
    width: 125px;
    height: 175px;
    border-radius: 10px;
  }

  .cinemaCard {
    margin: 0;
  }

  .cinema-inf {
    font-size: 14px;
  }

  .mapmarker {
    font-size: 13px;
  }

  .cinema-inf-btm {
    font-size: 12px;
  }
}
