* {
  margin: 0;
  padding: 0;
}

.details .movieDetail {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  background-color: white;
  max-width: 75%;
  max-height: 85%;
  margin: 0 auto;
  margin-bottom: 70px;
  font-weight: 300;
  border-radius: 5px;
  margin-top: 10%;
  height: 100%;
  width: 100%;
}

a {
  margin-top: -5%;
  text-decoration: none;
  color: black;
}

.movieDetail .movieDetail__data .movieDetail__title h4 {
  font-weight: 150;
}

.movieDetail img {
  position: relative;
  max-width: 200px;
  width: 100%;
  margin-right: 30px;
  margin-left: 30px;
  top: -50px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.movieDetail__production {
  margin-top: 20px;
}

.movieDetail .movieDetail__companies img {
  max-width: 75px;
  width: 100%;
  box-shadow: none;
  margin-top: 20px;
  align-self: center;
  justify-content: center;
  margin-bottom: 10px;
  top: 0px;
}

.movieDetail .movieDetail__companies .companies__company {
  text-align: center;
}

.companies__company {
  align-self: center;
}

.details .movieDetail__data {
  width: 75%;
  height: 75%;
  padding: 10px;
  text-align: left;
}

html > body #content {
  width: 370px;
}

ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}
li {
  margin-right: 3px;
}
.star {
  color: orange;
}

@media (max-width: 670px) {
  .details .movieDetail {
    margin-top: 15%;
  }
  .movieDetail img {
    max-width: 100px;
    width: 100%;
    margin-bottom: -40px;
  }
  .movieDetail .movieDetail__companies img {
    max-width: 50px;
  }

  .movieDetail .movieDetail__data {
    width: 100%;
    margin-right: 0;
  }
}
