* {
  box-sizing: border-box;
}

.movie {
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}

.movieCard {
  position: relative;
  margin: 20px 10px;
  max-width: 100%;
  /*padding: 8px;*/
}
.movie-poster {
  position: relative;
  width: 250px;
  height: 350px;
}
.movieimg {
  width: 250px;
  height: 350px;
  border-radius: 10px;
}
.movie-poster:hover + .mv-inf {
  visibility: visible;
}

.mv-inf:hover {
  visibility: visible;
}

.mv-inf {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding: 8px;
  width: 250px;
  align-self: end;
  background-color: white;
  border-radius: 0 0 8px 8px;
  /*margin: 8px;*/
  visibility: hidden;
  transition: visibility 500ms;
}

.mv-inf-top {
  text-align: left;
  font-weight: bolder;
}

.mv-inf-btm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.mv-inf-overview {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.mv-inf-vote-avg {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  border-radius: 8px;
  background-color: red;
  /*padding-left:8px;*/
  /*padding-right: 8px;*/
  padding: 4px;
  color: white;
  /*height: 22px;*/
  /*align-self: center;*/
  text-align: center;
}

.mv-inf-vote-avg .star {
  margin: 0 auto;
  color: yellow;
}
@media only screen and (max-width: 600px) {
  .movie-poster {
    position: relative;
    width: 125px;
    height: 175px;
  }
  .movieimg {
    width: 125px;
    height: 175px;
    border-radius: 10px;
  }

  .movieCard {
    margin: 0;
  }

  .mv-inf {
    width: 125px;
    font-size: 12px;
  }

  .mv-inf-btm {
    font-size: 10px;
  }
}
