.review-input::placeholder{
    color:white;
    opacity: 0.9;
}

.formInput {
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    color: black;
  }
  
  .formBtn {
    cursor: pointer;
    width: 100%;
    padding: 7px 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: #04aaff;
    cursor: pointer;
  }
  
  .cancelBtn {
    cursor: pointer;
    background-color: tomato;
  }

  .factoryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .factoryInput__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .factoryInput__rating {
    flex-grow: 1;
    height: 40px;
    padding: 0px 20px;
    color: white;
    border: 1px solid #04aaff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 12px;
  }
  .factoryInput__input {
    flex-grow: 1;
    height: 40px;
    padding: 0px 20px;
    color: white;
    border: 1px solid #04aaff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 12px;
  }
  
  .factoryInput__arrow {
    position: absolute;
    right: 0;
    background-color: #04aaff;
    height: 40px;
    width: 40px;
    padding: 10px 0px;
    text-align: center;
    border-radius: 20px;
    color: white;
    box-sizing: border-box;
  }
  
  .factoryInput__label {
    color: #04aaff;
    cursor: pointer;
  }
  
  .factoryInput__label span {
    margin-right: 10px;
    font-size: 12px;
  }
  
  .factoryForm__attachment {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .factoryForm__attachment img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
  }
  
  .factoryForm__clear {
    color: #04aaff;
    cursor: pointer;
    text-align: center;
  }
  
  .factoryForm__clear span {
    margin-right: 10px;
    font-size: 12px;
  }

  /* Nweet */

.reviewEdit .formBtn {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .review {
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .review h4 {
    font-size: 14px;
  }
  
  .review img {
    right: -10px;
    top: 20px;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  
  .review__actions {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .review__actions span {
    cursor: pointer;
  }
  
  .review__actions span:first-child {
    margin-right: 10px;
  }